* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Elementos principales */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F9CED5;
}

#logo {
    width: 80px;
}

h1 {
    color: #8B1825;
    text-align: center;
    margin: 1.5rem;
}

h2 {
    text-align: center;
    margin: 1.5rem;

}

p {
    font-size: medium;
    margin: 1.5rem;
}

a {
    text-decoration: none;
    color: #8B1825;
}

/*TopBar*/

ul {
    list-style: none;
    padding: 0.5rem;
    text-align: center;
    background-color: #F9CED5;


}

li {
    display: inline;
    padding-right: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small
}

.flex-container {
    display: flexbox;
    margin: 3em;
    text-align: center;
}

/* Imagenes */

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    box-sizing: border-box;
}

.img-principal img {
    width: 100%;
    height: auto;
}


.caja {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    width: 320px;
    border-radius: 5%;
}

.caja img {
    width: 320px;
    object-fit: cover;
    border-radius: 5%;
}

.caja .hover {
    width: 0%;
    height: 50hv;
    background-color: #F7F1D1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s all;
}

.hover h4 {
    color: #8B1825;
}

.caja:hover .hover {
    width: 100%;
}

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-areas:
        "concepto concepto"
        "chef biografia"
    ;
    grid-template-columns: 50% 50%;
}

#concepto {
    grid-area: concepto;
}

#chef {
    grid-area: chef;
}

#biografia {
    grid-area: biografia;
    background-color: #F7F1D1
}

.chef {
    width: 250px;
    height: auto;
}

/* Cafe */

.cafe-especialidad {
    background-color: #E78999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
    margin: 3rem;
}

.cafe-especialidad img {
    width: 300px;
    padding: 3rem;
}

/*Contacto*/

.grid-contacto {
    display: flex;
    flex-direction: column;
}

.ubicacion {
    margin: 3rem;
}

/* Formulario */

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 2em;
}

fieldset label {
    font-weight: 600;
    padding: 12px;
}

fieldset .form-input {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0;

}

fieldset .form-select {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10px 0;
}

fieldset input[type="texto"],
input[type="email"],
select {
    padding: 12px;
}

fieldset button {
    background-color: #8B1825;
    color: #F9CED5;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 12px;
    font-size: 16px;
    margin: 30px 0px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #8B1825, #F9CED5, #8B1825);
}

/* Footer */

footer {
    text-align: center;
    background: rgb(247, 241, 209);
    background: radial-gradient(circle, rgba(247, 241, 209, 1) 0%, rgba(249, 206, 213, 1) 100%);
}

.border-content {
    max-width: 720px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .grid-contacto {
        display: grid;
        grid-template-areas:
            "mapa formulario";
        grid-template-columns: 40% 50%;
    }

    #mapa {
        grid-area: mapa;
    }

    #formulario {
        grid-area: formulario;
    }

    .imagenes {
        flex-direction: row;
    }

    .caja {
        width: 200px;
    }

    .caja img {
        width: 200px;
    }

    .cafe-especialidad {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 20%;
    }

    .cafe-especialidad img {
        width: 350px;
        padding: 3rem;
    }

    .nosotros {
        display: flex;
    }

}