* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Elementos principales */

h1 {
    text-align: center;
    color: #8B1825;
    background-color: #F7F1D1;
    background-size: cover;
}

h2 {
    text-align: center;
    margin: 1.5rem;

}

p {
    font-size: medium;
    margin: 1.5rem;
}

a {
    text-decoration: none;
    color: #8B1825;
}

/*TopBar*/

ul {
    list-style: none;
    padding: 0.5rem;
    text-align: center;
    background-color: #F9CED5;


}

li {
    display: inline;
    padding-right: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small
}

.flex-container {
    display: flexbox;
    margin: 3em;
    text-align: center;
}

/* Imagenes */

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 3rem;
    padding: 2rem;
}

.imagenes img {
    width: 200px;
    border-radius: 5%;

}

.img-principal img {
    width: 100%;
    height: auto;
}

/* Nosotros */

.nosotros {
    display: flex;
}

.chef {
    width: 280px;
    height: auto;
}

/* Cafe */

.cafe-especialidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
}

.cafe-especialidad img {
    width: 350px;
    padding: 3rem;
}

/* Formulario */

fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 2em;
}

fieldset label {
    font-weight: 600;
    padding: 12px;
}

fieldset .form-input {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0;

}

fieldset .form-select {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 10px 0;
}

fieldset input[type="texto"],
input[type="email"],
select {
    padding: 12px;
}

fieldset button {
    background-color: #8B1825;
    color: #F9CED5;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 12px;
    font-size: 16px;
    margin: 30px 0px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #8B1825, #F9CED5, #8B1825);
}

/* Footer */

footer {
    text-align: center;
    background-color: #F7F1D1;
}

.border-content {
    max-width: 720px;
    margin: 0 auto;
}