footer {
  @include display-flex(column, center, center);
    margin-top: auto;
    height: 50px;
    background: $color-secundario;
    background: radial-gradient(
      circle,
      $color-secundario 0%,
      $color-principal 100%
    );
  }