#topbar {
  @include display-flex(none, space-around, center);
  background-color: $color-principal;
}

#logo {
  width: 80px;
}

.navbar-expanded {
  display: none;
}
.navbar-collapsed {
  display: flex;
  .navbar-collapse {
    padding-top: 70px;
    transition: 0.05s ease-in-out;
  }
}

.navbar {
  background-color: $color-principal;
  justify-content: space-evenly;
  min-height: 70px;
  .navbar-nav {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
    .nav-group {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .nav-item {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: small;
      margin: auto 0;
      .nav-link {
        white-space: nowrap;
        color: $color-texto;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='brown' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
  }

  .logo-collapsed {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
  }
}

#texto-principal {
  max-width: 900px;
}

.galeria {
  @include display-flex(column, space-around, center);
  /* margin: 3rem; */
  padding: 2rem;
  box-sizing: border-box;
}