#topbar {
  @include display-flex(none, space-around, center);
    background-color: $color-principal;
  }
  
  #logo {
    width: 80px;
  }
  
  ul {
    list-style: none;
    padding: 0.5rem;
    text-align: center;
    background-color: $color-principal;
  }
  
  li {
    display: inline;
    padding-right: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  
  .flex-container {
    display: flexbox;
    text-align: center;
  }

  #texto-principal {
    max-width: 900px;
  }
  
  .galeria {
    @include display-flex(column, space-around, center);
    /* margin: 3rem; */
    padding: 2rem;
    box-sizing: border-box;
  }

  