#banner-principal {
    min-height: 285px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url("./asset/vasosrosas.jpg");
    background-position: center;
    background-size: cover;
  }