.caja {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1.5%;
    width: 320px;
    border-radius: 5%;
    img {
        width: 320px;
        object-fit: cover;
        border-radius: 5%;
      }
    .hover {
        width: 0%;
        height: 50hv;
        background-color: $color-secundario;
        position: absolute;
        top: 0;
        @include display-flex(none, center, center);
        overflow: hidden;
        transition: 0.3s all;
      }
      &:hover .hover {
        width: 100%;
      }
  }
  .hover h4 {
    color: $color-texto;
  }