.cafe-especialidad {
    background-color: #e78999;
    @include display-flex(column, space-around, center);
    padding: 0 10%;
    margin: 1rem;
    img {
        width: 100%;
        padding: 3rem 0;
      }
  }