*{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: $color-texto;
    text-align: center;
    margin: 1.5rem;
  }
  
  h2 {
    text-align: center;
    margin: 1.5rem;
  }
  
  h3 {
    color: $color-texto;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  p {
    text-align: justify;
    font-size: medium;
    margin: 1.5rem;
  }
  
  a {
    text-decoration: none;
    color: $color-texto;
  }